<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<style type="text/css">
			body{-webkit-text-size-adjust: 100%;}
		</style>
		
		<link href="small_business_109/theme1/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="small_business_114/theme1/stylesheets/template196.css" media="all" rel="stylesheet" type="text/css" />
		<link href="small_business_45/theme1/stylesheets/flexslider.css" media="all" rel="stylesheet" type="text/css" />	
		<link href="small_business_88/theme1/stylesheets/slimmenu.css" rel="stylesheet" type="text/css"/>
		<link href="small_business_89/theme1/stylesheets/jquery.bxslider.css" rel="stylesheet" type="text/css"/> 
		<link href="small_business_81/theme1/stylesheets/animate.css" rel="stylesheet" type="text/css"/>
		<title>template-196</title> 
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div class="header-block">
					<div class="container no-padding">
					
							<div class="row no-margin">
								<div class="header-content">
									
									<div class="col-md-9 col-sm-7 col-xs-12 no-padding">
										<div class="header-left">

		
												<span class="left"></span>
														
													<div class="col-md-5 col-sm-4 col-xs-12 no-padding">
														<div class="logo">
															<a href="#"><img class="img-responsive" src="small_business_114/theme1/images/logo.png" alt="logo" /></a>
														</div><!--logo-->
														
													</div><!--col-md-5--><span class="right"></span>
													<span class="middle"></span>
								
						
					</div><!--header-left-->
					</div><!--col-md-9-->
								
								<div class="col-md-3 col-sm-7 col-xs-12 no-padding">
									<div class="header-right">
										<div class="col-md-12 no-padding">
										<div class="contact">
											<ul class="contact-details">
												<li>
													<a href="#"><span>Call: </span>8105220206</a>
												</li>
												<li>
													<a href="#"><span>Mail: </span>srisaienterprises@gmail.com</a>
												</li>
											</ul><!--contact-details-->
											
										</div><!--contact-->
										<span class="right_1"></span>
										</div><!--col-md-12-->
								</div><!--header-right-->
							</div><!--col-md-3-->
						</div><!--header-content-->
					
						<div class="banner-block">
							<div class="banner banner-without-slide">
								<ul class="list-unstyled">
									<li><a href="#"><img class="img-responsive" src="small_business_114/theme1/images/banner1.jpg" title="Banner" alt="banner-img"/></a></li>
									</ul>
								</div><!--banner-->
							</div><!--banner-block-->
								<div class="menu-block">
							<div class="menucontainer">
									<span class="menu-left"></span>
								<span class="menu-right"></span>
									<ul class="blue">
										<li class="active"><a href="#">HOME</a></li>
										
										<li class=""><a href="#s-menu1">CONTACT US</a>
											<ul>
												<li><a href="#">Menu 1</a></li>
												<li><a href="#">Menu 2</a></li>
												<li><a href="#">Menu 3</a></li>
											</ul>
										</li>
										<li class=""><a href="#">ABOUT US</a></li>
										<li class="">
											<a href="#learn-menu">SHOW ROOMS</a>
											<ul>
												<li><a href="#">FAQs 1</a></li>
												<li><a href="#">FAQs 2</a></li>
												<li><a href="#">FAQs 3</a></li>
											</ul>
										</li>
										<li class=""><a href="#">USED CARS</a></li>
										<li class=""><a href="#">PRICE CHARTS</a></li>
										<li class=""><a href="#">NEW CARS</a></li>
										</ul><!--blue-->

									<ul class="mobile-display">
										<li><a class="home-menu" href="#"> </a></li>
										<li class="wrap">
											<a class="menu-icon" href="#"> </a>
										</li>
										<li class="r-menu">
											<div class="hidden-menus">
												<ul>
													<li class="active"><a href="#">HOME</a></li>
													
													<li><a href="#">CONTACT US</a>
														<div class="expand-text">
															<a href="javascript:void(0)" class="expand" data-id="s-menu1"></a>
														</div><!--expand-text-->
													</li>
													
													<li class="m-menu">
														<div class="extra-para" id="s-menu1">
															<ul>
																<li class="active"><a href="#">Menu 1</a></li>
																<li><a href="#">Menu 2</a></li>
																<li><a href="#">Menu 3</a></li>
															</ul>
															
															<div class="close-text">
																<a href="javascript:void(0)" class="close-arrow"></a>
															</div><!--close-text-->
														</div><!--extra-para-->
													</li><!--m-menu-->
													
													<li class=""><a href="#">ABOUT US</a></li>
													<li class=""><a href="#">SHOWROOMS</a></li>
													<li class=""><a href="#">USED CARS</a></li>
													<li class=""><a href="#">PRICE CHARTS</a></li>
													<li class=""><a href="#">NEW CARS</a></li>
												</ul>
											</div><!--hidden-menus-->
										</li><!--r-menu-->
									</ul><!--mobile-display-->

									</div><!--menucontainer-->
								</div><!--menu-block-->
								
									
						</div><!--row-->
				</div><!--container-->
			
			</div><!--header-block-->
				</header>
					<div class="container-block">
						<div class="container-content">
				
								<div class="container no-padding">
									<div class="row">
										
											<div class="welcome-block">	
												<div class="heading">
													<div class="heading-center">
												<h3><a href="#">Welcome to our website</a><span class="heading-design"></span></h3>
												</div><!--heading-center-->
												</div><!--heading-->
													<div class="col-md-12 col-sm-12 col-xs-12">
														<div class="welcome-content">
															
																	<div class="welcome-text">
							
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
								It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
									</div><!--welcome-text-->
										<div class="read-more">
											<a href="#">Read more</a>
										</div><!--read-more-->
								</div><!--welcome-content-->
							</div><!--col-md-12-->
						</div><!--welcome-block-->
					</div><!--row-->
				</div><!--container-->
				<div class="info-block">
			<div class="container no-padding">
				<div class="row">
					
					<div class="col-md-12 col-sm-12 col-xs-12 ">
						
						<div class="static-block static-block-without-slide">
							
							<ul class="list-unstyled"> 
									<li> 
									<div class="static-parent-block"> 
							
										<div class="static-block-content col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding static-without-image">
											<a href="#"><img src="small_business_114/theme1/images/infoimg1.jpg" class="img-responsive" alt="service" /></a>
											<h3>lorem  isum dolor sit amet...<span class="info-text"></span></h3>
											
								
											<div class="static-common-content">
												<div class="static-common-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
													
													
										
													<div class="read-more text-center">
														<a href="#">Read more</a>
													</div><!--read-more-->
												</div><!--static-common-block-->
									
											</div><!--static-common-content-->
										</div><!--static-block-content-->
							
						
										<div class="static-block-content col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
											<a href="#"><img src="small_business_114/theme1/images/infoimg2.jpg" class="img-responsive" alt="service" /></a>
											<h3>lorem  isum dolor sit amet...<span class="info-text"></span></h3>
								
											<div class="static-common-content">
												<div class="static-common-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
													
													
										
													<div class="read-more text-center">
														<a href="#">Read more</a>
													</div><!--read-more-->
												</div><!--static-common-block-->
									
											</div><!--static-common-content-->
										</div><!--static-block-content-->
						
										<div class="static-block-content col-xs-12 col-sm-6 col-md-4 col-lg-4 no-padding">
											<a href="#"><img src="small_business_114/theme1/images/infoimg3.jpg" class="img-responsive" alt="service" /></a>
											<h3>lorem  isum dolor sit amet...<span class="info-text"></span></h3>
											
								
											<div class="static-common-content">
												<div class="static-common-block col-xs-12 col-sm-12 col-md-12 col-lg-12">
										
													
										
													<div class="read-more text-center">
														<a href="#">Read more</a>
													</div><!--read-more-->
												</div><!--static-common-block-->
									
											</div><!--static-common-content-->
										</div><!--static-block-content-->
									</div><!--static-parent-block-->
									</li>
										
								</ul><!--static-ul-->
						</div><!--static-block-->
					</div><!--col-md-12-->
					
				</div><!--row-->
			</div><!--container-->
		</div><!--info-block-->
		<div class="container">
			<div class="row">
	
				<div class="gallery">
					<div class="heading">
						<div class="heading-center">
						<h3><a href="#">Our Gallery</a><span class="heading-design"></span></h3>
						</div><!--heading-center-->
					</div><!--heading-->
					<div class="gallery-block gallery-block-without-slide">
						
						<ul class="list-unstyled">
							<li><a href="#"><img class="img-responsive" src="small_business_114/theme1/images/g1.jpg" title="static-img" alt="info"/></a></li>
							<li><a href="#"><img class="img-responsive" src="small_business_114/theme1/images/g2.jpg" title="static-img" alt="info"/></a></li>
							<li><a href="#"><img class="img-responsive" src="small_business_114/theme1/images/g3.jpg" title="static-img" alt="info"/></a></li>
						</ul><!--list-unstyled-->
						
									</div><!--gallery-block-->
								 </div><!--gallery-->
								 <div class="book_online">
								<a href="#">Click here to Book Now For Today's Best Rates</a>
							</div><!--book_online-->	
							
							</div><!--row-->
						</div><!--container-->
					<div class="contact-common-block">
			<div class="container no-padding">
				<div class="col-md-12">
					<div class="row">
						<div class="contact-block"> 
						<div class="col-md-5 col-sm-4 col-xs-12 no-padding wow slideInLeft">
							<div class="address-block">
								<div class="address-common-block">
									<h3 class="wow swing">Contact Us:</h3>
									<p><span class="glyphicon glyphicon-map-marker"></span>Lorem ipsum dolor </p>
									<p>sit amet, conseLorem ipsum dolor</p> 
								</div><!--address-common-block-->
								<div class="address-common-block">
									<h3 class="wow lightSpeedIn">Mail Us</h3>
									<p><span class="glyphicon glyphicon-envelope"></span><a href="#">info@gmail.com</a></p>
								</div><!--address-common-block-->
								<div class="address-common-block">
									<h3 class="wow bounceIn"><a href="#">Call Us</a></h3>
									<p><span class="glyphicon glyphicon-earphone"></span>4156789214</p>
								</div><!--address-common-block-->
								<div class="address-common-block">
									<div class="social-link">
										<ul class="list-inline">
											<li><a href="/"><img src="small_business_114/theme1/images/fb.png" title="social-icon" alt="icon"/></a></li>
											<li><a href="/"><img src="small_business_114/theme1/images/g.png" title="social-icon" alt="icon"/></a></li>
											<li><a href="/"><img src="small_business_114/theme1/images/t.png" title="social-icon" alt="icon"/></a></li>
											<li><a href="/"><img src="small_business_114/theme1/images/in.png" title="social-icon" alt="icon"/></a></li>
										</ul>
									</div><!--header-social-link-->
								</div><!--address-common-block-->
							</div><!--address-block-->
						</div><!--col-md-4-->
						<div class="col-md-7 col-sm-8 col-xs-12 no-padding-right wow slideInRight">
							<div class="enquiry-block">
									
									<div class="col-md-12 no-padding">
										<div class="enquiry-form">
											<p class="enquiry-title">Ask us</p>
												<div class="advertise_loginFields">
													<p><input class="input_text" type="text" value="" placeholder="Name"></p>
												</div><!--advertise_loginFields-->
														<div class="col-md-6 no-padding">	
												<div class="advertise_loginFields">
													<p><input class="input_text" type="text" value="" placeholder="Phone num"></p>
												</div><!--advertise_loginFields-->
												</div><!--col-md-6-->
												<div class="col-md-6 no-padding-right">
												<div class="advertise_loginFields">
													<p><input class="input_text" type="text" value="" placeholder="mail"></p>
												</div><!--advertise_loginFields-->
												</div><!--col-md-6-->
												<div class="advertise_loginFields">
													<p><textarea rows="5" placeholder="Message"></textarea></p>
												</div><!--advertise_loginFields-->

												<div class="advertise_loginFields">
													<div class="button_input_div">
														<input type="submit" class="submit" value="Submit" name="commit">
													</div>
												</div><!--advertise_loginFields-->
												
										</div><!--enquiry-form-->
									</div><!--col-md-12-->
										
								</div><!--enquiry-block-->
								</div><!--col-md-8-->
							</div><!--contact-block-->
						</div><!--row-->
					</div><!--col-md-12-->	
				</div><!--container-->	
			</div><!--contact-common-block-->		
					</div><!--container-content-->
				</div><!--container-block-->
				<div class="footer">
				<div class="container no-padding">
					<div class="row no-margin">
						
						<div class="col-md-12">
							<div class="footer-content">
								<div class="col-md-6 col-sm-6 col-xs-12 no-padding copyright_block">
									<ul class="col-md-12 col-xs-12 col-sm-12 list-inline no-padding">
										<li><a href="#"> Terms and Conditions</a></li>
				    					<li><a href="#"> Privacy Policy</a></li>
									</ul>
								</div><!--copyright_block-->
								<div class="webnish_footer col-md-6 col-sm-6 col-xs-12 text-right no-padding">
									<div class="footer-con text-right">
										<span>Powered-by :</span><img src="/small_business_80/theme1/images/footer-logo.jpg" alt="footer-logo">
									</div><!--footer-con-->
								</div><!--webnish_footer-->
							</div><!--footer-content-->
					</div><!--col-md-12-->
								
					</div><!--row-->
				</div><!--container-->
		</div><!--footer-->
			</div><!--wrapper-->
			<script type="text/javascript" src="small_business_45/theme1/javascripts/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="small_business_45/theme1/javascripts/jquery-ui.min2.js"></script>
		<script src="/small_business_35/theme1/javascripts/ios-bug.js" type="text/javascript"></script>
		<script type="text/javascript" src="/small_business_80/theme1/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/small_business_81/theme1/javascripts/wow.min.js"></script>
		<script type="text/javascript" src="/small_business_45/theme1/javascripts/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
			$('.menu-icon').click(function(event) {
			event.stopPropagation();
			$(".hidden-menus").slideToggle("slow");
			});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
			$(".expand-text a").click(function(event) {
			event.stopPropagation();
			$(".extra-para").hide();
			$(".expand").hide();
			$('.close-arrow').click(function() {
				$(".expand").show();
				$('.extra-para').slideUp("slow")
			});
			var x = $(this).attr('data-id');
			$("#" + x).slideDown("slow");
				});
			});
		</script>
		
		</body>
	</html>
									
									
