<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<style type="text/css">
			body{-webkit-text-size-adjust: 100%;}
		</style>
		
		<link href="small_business_109/theme1/stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="small_business_114/theme1/stylesheets/template196.css" media="all" rel="stylesheet" type="text/css" />
		<link href="small_business_45/theme1/stylesheets/flexslider.css" media="all" rel="stylesheet" type="text/css" />	
		<link href="small_business_88/theme1/stylesheets/slimmenu.css" rel="stylesheet" type="text/css"/>
		<link href="small_business_89/theme1/stylesheets/jquery.bxslider.css" rel="stylesheet" type="text/css"/> 
		<link href="small_business_81/theme1/stylesheets/animate.css" rel="stylesheet" type="text/css"/>
		<title>template-196</title> 
	</head>
	<body>
		<div id="wrapper">
			<header>
				<div class="header-block header-inner-content">
					<div class="container no-padding">
					
							<div class="row no-margin">
								<div class="header-content">
									
									<div class="col-md-9 col-sm-7 col-xs-12 no-padding">
										<div class="header-left">

		
												<span class="left"></span>
														
													<div class="col-md-5 col-sm-4 col-xs-12 no-padding">
														<div class="logo">
															<a href="#"><img class="img-responsive" src="small_business_114/theme1/images/logo.png" alt="logo" /></a>
														</div><!--logo-->
														
													</div><!--col-md-5--><span class="right"></span>
													<span class="middle"></span>
								
						
					</div><!--header-left-->
					</div><!--col-md-9-->
								
								<div class="col-md-3 col-sm-7 col-xs-12 no-padding">
									<div class="header-right">
										<div class="col-md-12 no-padding">
										<div class="contact">
											<ul class="contact-details">
												<li>
													<a href="#nogo"><span>Call: </span>8105220206</a>
												</li>
												<li>
													<a href="#nogo"><span>Mail: </span>srisaienterprises@gmail.com</a>
												</li>
											</ul><!--contact-details-->
											
										</div><!--contact-->
										<span class="right_1"></span>
										</div><!--col-md-12-->
								</div><!--header-right-->
							</div><!--col-md-3-->
						</div><!--header-content-->
									
								<div class="menu-block">
							<div class="menucontainer">
								<span class="menu-left"></span>
								<span class="menu-right"></span>
								
									<ul class="blue">
										<li class="active"><a href="#nogo">HOME</a></li>
										
										<li class=""><a href="#s-menu1">CONTACT US</a>
											<ul>
												<li><a href="#nogo">Menu 1</a></li>
												<li><a href="#nogo">Menu 2</a></li>
												<li><a href="#nogo">Menu 3</a></li>
											</ul>
										</li>
										<li class=""><a href="#nogo">ABOUT US</a></li>
										<li class="">
											<a href="#learn-menu">SHOW ROOMS</a>
											<ul>
												<li><a href="#nogo">FAQs 1</a></li>
												<li><a href="#nogo">FAQs 2</a></li>
												<li><a href="#nogo">FAQs 3</a></li>
											</ul>
										</li>
										<li class=""><a href="#nogo">USED CARS</a></li>
										<li class=""><a href="#nogo">PRICE CHARTS</a></li>
										<li class=""><a href="#nogo">NEW CARS</a></li>
										</ul><!--blue-->

									<ul class="mobile-display">
										<li><a class="home-menu" href="#nogo"> </a></li>
										<li class="wrap">
											<a class="menu-icon" href="#nogo"> </a>
										</li>
										<li class="r-menu">
											<div class="hidden-menus">
												<ul>
													<li class="active"><a href="#nogo">HOME</a></li>
													
													<li><a href="#nogo">CONTACT US</a>
														<div class="expand-text">
															<a href="javascript:void(0)" class="expand" data-id="s-menu1"></a>
														</div><!--expand-text-->
													</li>
													
													<li class="m-menu">
														<div class="extra-para" id="s-menu1">
															<ul>
																<li class="active"><a href="#nogo">Menu 1</a></li>
																<li><a href="#nogo">Menu 2</a></li>
																<li><a href="#nogo">Menu 3</a></li>
															</ul>
															
															<div class="close-text">
																<a href="javascript:void(0)" class="close-arrow"></a>
															</div><!--close-text-->
														</div><!--extra-para-->
													</li><!--m-menu-->
													
													<li class=""><a href="#nogo">ABOUT US</a></li>
													<li class=""><a href="#nogo">SHOWROOMS</a></li>
													<li class=""><a href="#nogo">USED CARS</a></li>
													<li class=""><a href="#nogo">PRICE CHARTS</a></li>
													<li class=""><a href="#nogo">NEW CARS</a></li>
												</ul>
											</div><!--hidden-menus-->
										</li><!--r-menu-->
									</ul><!--mobile-display-->

									</div><!--menucontainer-->
								</div><!--menu-block-->
								
									
						</div><!--row-->
				</div><!--container-->
			
			</div><!--header-block-->
				</header>
					<div class="container-block">
						<div class="container-content">
				
								<div class="container no-padding">
									<div class="row">
										
											<div class="welcome-block">	
												<div class="heading">
													<div class="heading-center">
												<h3><a href="#">Welcome to our website</a><span class="heading-design"></span></h3>
												</div><!--heading-center-->
												</div><!--heading-->
													<div class="col-md-12 col-sm-12 col-xs-12">
															<div class="welcome-content">
																	<div class="welcome-text">
							
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
								It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
									</div><!--welcome-text-->
										<div class="read-more">
											<a href="#">Read more</a>
										</div><!--read-more-->
								</div><!--welcome-content-->
							</div><!--col-md-12-->
						</div><!--welcome-block-->
						<div class="static-page-content">
													<div class="testimonial_list">
														
														<ul class="list-unstyled">
															<li class="col-md-12 no-padding-left">
																<div class="testimonial_content">
																	<div class="col-md-2 col-sm-2 col-xs-12 no-padding-left wow slideInRight">
																		<div class="testimonial_image">
																			<img class="img-responsive" alt="static-img" title="static-page" src="small_business_102/theme1/images/banner2-80x80.jpg"/>
																		</div>
																	</div>
														
																	<div class="testimonial_right testimonial_right_new">
																		<h2> accreadetion </h2>
																		
																		<p>School prepares your child for tomorrow's challenges through its advanced teaching methodology and interactive
																		School prepares your child for tomorrow's challenges through its advanced teaching methodology and interactiveSchool prepares your child for tomorrow's challenges through its advanced teaching methodology and interactive
																		</p>
																	</div>
																</div><!--testimonial_content-->
															</li>
															
															<li class="col-md-12 no-padding-left">
																<div class="testimonial_content">
															
																	<div class="testimonial_right testimonial_right_new">
																		<h2><a href="#">accredation</a>  </h2>
																		
																		<p>School prepares your child for tomorrow's challenges through its advanced teaching methodology and interactive learning programs.
																		</p>
																	</div>
																</div>
															</li>
														</ul>
														
													</div><!--testimonial_list-->
												</div><!--static-page-content-->
					</div><!--row-->
				</div><!--container-->
				<div class="footer">
				<div class="container no-padding">
					<div class="row no-margin">
						
						<div class="col-md-12">
							<div class="footer-content">
								<div class="col-md-6 col-sm-6 col-xs-12 no-padding copyright_block">
									<ul class="col-md-12 col-xs-12 col-sm-12 list-inline no-padding">
										<li><a href="#"> Terms and Conditions</a></li>
				    					<li><a href="#"> Privacy Policy</a></li>
									</ul>
								</div><!--copyright_block-->
								<div class="webnish_footer col-md-6 col-sm-6 col-xs-12 text-right no-padding">
									<div class="footer-con text-right">
										<span>Powered-by :</span><img src="/small_business_80/theme1/images/footer-logo.jpg" alt="footer-logo">
									</div><!--footer-con-->
								</div><!--webnish_footer-->
							</div><!--footer-content-->
					</div><!--col-md-12-->
								
					</div><!--row-->
				</div><!--container-->
		</div><!--footer-->
			</div><!--wrapper-->
			<script type="text/javascript" src="small_business_45/theme1/javascripts/jquery-1.11.1.js"></script>
		<script type="text/javascript" src="small_business_45/theme1/javascripts/jquery-ui.min2.js"></script>
		<script src="/small_business_35/theme1/javascripts/ios-bug.js" type="text/javascript"></script>
		<script type="text/javascript" src="/small_business_80/theme1/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/small_business_81/theme1/javascripts/wow.min.js"></script>
		<script type="text/javascript" src="/small_business_45/theme1/javascripts/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
			$('.menu-icon').click(function(event) {
			event.stopPropagation();
			$(".hidden-menus").slideToggle("slow");
			});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
			$(".expand-text a").click(function(event) {
			event.stopPropagation();
			$(".extra-para").hide();
			$(".expand").hide();
			$('.close-arrow').click(function() {
				$(".expand").show();
				$('.extra-para').slideUp("slow")
			});
			var x = $(this).attr('data-id');
			$("#" + x).slideDown("slow");
				});
			});
		</script>
		<script type="text/javascript">
		$(window).load(function() {
				  var $window = $(window),
        				flexslider;

     
      function getGridSize() {
      return (window.innerWidth < 600) ? 1 : 
              (window.innerWidth < 768) ? 1 : 4;
      }
      		 $(window).load(function() {
			$('.gallery-block').flexslider({
						animation : "slide",
						animationSpeed : 2000,
						animationLoop: true,
						directionNav : true,
						 slideshow: false,
						 controlNav:false,
						 minItems: 1,
					maxItems: 4,
					itemWidth: 193,	
					//itemMargin: 25,	
						touch : true,
						pauseOnHover : true,
				minItems: getGridSize(), 
  			  maxItems: getGridSize(),
  			 start:function(slider){
        		$('.gallery-block .flex-direction-nav li a.flex-prev').css({visibility:'hidden'});
		        slider.find('a').on('click',function(){
		        $('.gallery-block .flex-direction-nav li a.flex-prev').css({visibility:'visible'});
		        });
    		},
			end: function(slider) {
	           $('.last-slide').text(slider.currentSlide);
	           location.href = "small_business_109-aboutus.html.erb";
	         }
			});
		});
		
		 $window.resize(function() {
       var gridSize = getGridSize();
       var flowDir = getSliderDirection();
             flexslider.vars.direction = flowDir;
       flexslider.vars.minItems = gridSize;
        flexslider.vars.maxItems = gridSize;
      });
   }());
</script>
		</body>
	</html>
									
									
