
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0,minimum-scale=1.0" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
		<title>Home
 | Aarvam- Bro Siga Animation Center  | Chennai</title>
		<style type="text/css">
	body {
		overflow: scroll;
	}
	.scroll-block{float:left;width:200px;position: absolute;right: 0px;top:0px;background-color:#fff;height:448px;overflow-y:auto;z-index: 1000;padding: 10px;}
.scroll-block ul li{float:left;width:100%;color:#000;font-size: 15px;}

</style>


<base href="http://brosigaanimationcenter.webnish.com/"/>
<link href="http://assets.webnish.com/core/common_css/common_map_css.css" media="screen" rel="stylesheet" type="text/css" />
<!-- <style type="text/css">
	img {
		-webkit-transform: scale(1,1);
		-webkit-transition-timing-function: ease-out;
		-webkit-transition-duration: 250ms;
	}
</style> -->
<link data-turbolinks-track="true" href="http://assets.webnish.com/small_business_101/3/assets/application-455b374852c7420e279923610aa1d3dc.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://assets.webnish.com/core/common_css/swiper_style.css" media="all" rel="stylesheet" type="text/css" />
<link href="http://assets.webnish.com/core/common_css/common.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://assets.webnish.com/core/common_css/gallery.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://assets.webnish.com/core/common_css/jquery.jscrollpane.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://assets.webnish.com/core/common_css/common-questionnaire.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://assets.webnish.com/core/common_css/bootstraptable.min.css" media="screen" rel="stylesheet" type="text/css" />
<link href="http://assets.webnish.com/core/common_css/common-table-device.css" media="screen" rel="stylesheet" type="text/css" />
<link href="//brosigaanimationcenter.webnish.com/asset/175/941/custom_css/false?20160526092835" media="screen" rel="stylesheet" type="text/css" />
<script src="http://assets.webnish.com/core/js/jquery-latest.min.js" type="text/javascript"></script>
<script src="http://assets.webnish.com/core/js/jquery-ui-1-10-3-min.js" type="text/javascript"></script>

<script src="http://assets.webnish.com/core/js/turbo.js" type="text/javascript"></script>
<script src="http://assets.webnish.com/core/js/common-js.min.js" type="text/javascript"></script>
<script src="http://assets.webnish.com/core/js/slides.min.jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
<script src="http://assets.webnish.com/core/js/gmaps.js" type="text/javascript"></script>
<script>
$(document).on('page:fetch',   function() { NProgress.start();$('body').css( 'cursor', 'wait' );$("#ajaxBusyloader").show(); });
$(document).on('page:change',  function() { 
	NProgress.done();
});
$(document).on('page:restore', function() { NProgress.remove(); $('body').css( 'cursor', 'auto' );$("#ajaxBusyloader").hide();});
$(function (){
if(window.jQuery && typeof jQuery != 'undefined'){
	$.each($('a'), function( index, value ) {
    re = new RegExp(/contact-us|^\/$|gallery/)
    if($(this).attr('href') && re.test($(this).attr('href'))){

        $(value).attr('data-no-turbolink','')
    }
   });
}
});
</script>

		<link href="http://assets.webnish.com/core/common_css/common-bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
		<link id="favicon" rel="shortcut icon" type="image/png" href=/IMG/226/35226/favicon_logo.png />

		<meta property="og:title" content="Aarvam- Bro Siga Animation Center" />
<meta property="og:image" content="/IMG/226/35226/logo-120x74.png"/>
<meta property="og:description" content=" Located in  Chennai, since its inception Aarvam- Bro Siga Animation Center has been providing service to its clients while adhering to the timelines.">
<meta name='keywords' content="Aarvam- Bro Siga Animation Center,A-248, B-Kalyanapuram, Vyasarpadi, Chennai,TN,600039,current market demands, best practices, affordable services, ethical and professional services, constantly evaluation.">
<meta name='description' content=" Located in  Chennai, since its inception Aarvam- Bro Siga Animation Center has been providing service to its clients while adhering to the timelines." >
<link rel="apple-touch-icon" sizes="60x60" href="/IMG/226/35226/logo-60x60.png">
<link rel="apple-touch-icon" sizes="76x76" href="/IMG/226/35226/logo-76x76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/IMG/226/35226/logo-120x120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/IMG/226/35226/logo-152x152.png">

		<style type="text/css">
	body {
		-webkit-text-size-adjust: 100%;
	}
	#gallery img{display:none;}
</style>
	</head>
	<body>
		<div class="over_lay" style="display: none;"></div>
<!--small business15 -->



<!--common contact_block-->

		<div id="wrapper">
				
			<header>
				<div class="header-block">
					<div class="container">
						<div class="row">
							<div id="container_64707">
<div class="header-right">
	<div class="menucontainer">
		<span class="menu-line"> </span>
		
		<ul class="blue" id="sub">
			<li class="m-menus  active" data-no-turbolink>
				<a href="/">Home</a>
			</li>
			<li class="m-menus  menucolor" >
				<a href="/static/about-us">About Us</a>
			</li>
			<li class="m-menus dropdown menucolor" >
				<a href="#" aria-expanded="true" class="dropdown-toggle" role="button" title="double click to open this page">Whom we are</a>
				
				<ul class="dropdown-menu" role="menu">
					<li  title="About aarvam-BSAC" class="">
						<a href="/static/about-aarvam-bsac" title="About aarvam-BSAC">About aarvam-BSAC</a>
					</li>
				</ul>
				<span class="close-d"></span>
			</li>
			<li class="m-menus dropdown menucolor" >
				<a href="#" aria-expanded="true" class="dropdown-toggle" role="button" title="double click to open this page">What we do</a>
				
				<ul class="dropdown-menu" role="menu">
					<li  title="Integrated Child Development" class="">
						<a href="/static/integrated-child-development-child-rights-promotion-protection-participation" title="Integrated Child Development">Integrated Child Development </a>
					</li>
					<li  title="Integrated Youth Development" class="">
						<a href="/static/integrated-youth-development" title="Integrated Youth Development">Integrated Youth Development </a>
					</li>
				</ul>
				<span class="close-d"></span>
			</li>
			<li class="m-menus  menucolor" >
				<a href="/static/our-partners-network">Our Partners &amp; Network</a>
			</li>
			<li class="m-menus  menucolor" >
				<a href="/static/programs">Programs</a>
			</li>
			<li class="m-menus  menucolor" >
				<a href="/static/testimonials">Testimonials</a>
			</li>
			<li class="m-menus  menucolor" >
				<a href="/static/downloads">Downloads</a>
			</li>
			<li class="m-menus  menucolor" >
				<a href="/static/resources">Resources</a>
			</li>
			<li class="m-menus  menucolor" >
				<a href="/static/donate-us">Donate Us</a>
			</li>
			<li class="m-menus  menucolor" >
				<a href="/static/get-involve">Get Involve</a>
			</li>
			<li class="m-menus  menucolor" data-no-turbolink>
				<a href="/gallery">Gallery</a>
			</li>
			<li class="m-menus  menucolor" data-no-turbolink>
				<a href="/static/contact-us">Contact Us</a>
			</li>
		</ul>
		<ul class="mobile-display">
			<li>
				<a href="/" class="home-menu"></a>
			</li>
			<li class="wrap">
				<a href="#" class="menu-icon"></a>
			</li>
			<li class="r-menu">
				<div class="hidden-menus">
					<ul>
						<li class="active">
						<a href="/" class="menuitem">Home</a>

						<li class="menucolor">
						<a href="/static/about-us" class="menuitem">About Us</a>

						<li class="menucolor">
							<a href="#">Whom we are</a>
							<div class="expand-text">
								<a href="javascript:void(0)" class="expand" data-id="s-menu14194"></a>
							</div><!--expand-text-->
						</li>
						<li class="m-menu">
							<div class="extra-para" id="s-menu14194">
								<ul>
									<li  title="About aarvam-BSAC" class="">
										<a href="/static/about-aarvam-bsac" title="About aarvam-BSAC">About aarvam-BSAC</a>
									</li>
								</ul>
								<div class="close-text">
									<a href="javascript:void(0)" class="close-arrow"></a>
								</div><!--close-text-->
							</div><!--extra-para-->
						</li>

						<li class="menucolor">
							<a href="#">What we do</a>
							<div class="expand-text">
								<a href="javascript:void(0)" class="expand" data-id="s-menu14196"></a>
							</div><!--expand-text-->
						</li>
						<li class="m-menu">
							<div class="extra-para" id="s-menu14196">
								<ul>
									<li  title="Integrated Child Development" class="">
										<a href="/static/integrated-child-development-child-rights-promotion-protection-participation" title="Integrated Child Development">Integrated Child Development </a>
									</li>
									<li  title="Integrated Youth Development" class="">
										<a href="/static/integrated-youth-development" title="Integrated Youth Development">Integrated Youth Development </a>
									</li>
								</ul>
								<div class="close-text">
									<a href="javascript:void(0)" class="close-arrow"></a>
								</div><!--close-text-->
							</div><!--extra-para-->
						</li>

						<li class="menucolor">
						<a href="/static/our-partners-network" class="menuitem">Our Partners &amp; Network</a>

						<li class="menucolor">
						<a href="/static/programs" class="menuitem">Programs</a>

						<li class="menucolor">
						<a href="/static/testimonials" class="menuitem">Testimonials</a>

						<li class="menucolor">
						<a href="/static/downloads" class="menuitem">Downloads</a>

						<li class="menucolor">
						<a href="/static/resources" class="menuitem">Resources</a>

						<li class="menucolor">
						<a href="/static/donate-us" class="menuitem">Donate Us</a>

						<li class="menucolor">
						<a href="/static/get-involve" class="menuitem">Get Involve</a>

						<li class="menucolor">
						<a href="/gallery" class="menuitem">Gallery</a>

						<li class="menucolor">
						<a href="/static/contact-us" class="menuitem">Contact Us</a>

					</ul>
				</div><!--hidden-menus-->
			</li>
		</ul><!--mobile-display-->
	</div><!--menucontainer-->
</div>




<div class="col-xs-12 no-padding">
	<div class="logo">
		<a href="/"><img alt="logo" class="img-responsive" src="http://assets.webnish.com/IMG/226/35226/logo.png" /></a>

	</div><!--logo-->
</div><!--col-xs-12-->


</div>
						</div><!--row-->
					</div><!--container-->
				</div><!--header-block-->
			</header>
			<div class="container-block">
	<div id="container_64708">
<div class="banner-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12 no-padding">
				<div class="banner">
					
<div class="flexslider">
	<ul class="slides">
		<li>
			<a href="#"><img alt="b3" class="img-responsive" draggable="false" src="http://assets.webnish.com/IMG/894/35894/b3-1024x448.jpg" /></a>
		</li>
		<li>
			<a href="#"><img alt="b2" class="img-responsive" draggable="false" src="http://assets.webnish.com/IMG/893/35893/b2-1024x448.jpg" /></a>
		</li>
		<li>
			<a href="#"><img alt="b1" class="img-responsive" draggable="false" src="http://assets.webnish.com/IMG/895/35895/b1-1024x448.jpg" /></a>
		</li>
	</ul><!--slides-->
</div><!--flexslider-->


				</div><!--banner-->
			</div><!--col-md-12-->
		</div><!--row-->
	</div><!--container-->
<div class="scroll-block">
							
									<p>Lorem ipsum dolor sit amet, conseLorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, conseLorem ipsum dolor sit ame
									Lorem ipsum dolor sit amet, conseLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, conseLorem ipsum dolor sit ame
									Lorem ipsum dolor sit amet, conseLorem ipsum dolor sit amet,Lorem ipsum dolor sit amet, conseLorem ipsum dolor sit ame</p>
							
											
								
					</div>
</div><!--banner-content-->


</div>
	<div class="container-content">
		<div class="container">
			<div class="row">
				<div id="container_64709">
<div class="col-md-12 no-padding">
	<div class="gallery">
		<div class="gallery-content">
			<div class="gallery-slide" data-no-turbolink>
				<ul class="slides">
	<li>
		<a href="/gallery"><img alt="g4" class="img-responsive" src="http://assets.webnish.com/IMG/220/35220/g4-250x161.jpg" /></a>
	</li>
	<li>
		<a href="/gallery"><img alt="g5" class="img-responsive" src="http://assets.webnish.com/IMG/222/35222/g5-250x161.jpg" /></a>
	</li>
	<li>
		<a href="/gallery"><img alt="g2" class="img-responsive" src="http://assets.webnish.com/IMG/221/35221/g2-250x161.jpg" /></a>
	</li>
	<li>
		<a href="/gallery"><img alt="g3" class="img-responsive" src="http://assets.webnish.com/IMG/223/35223/g3-250x161.jpg" /></a>
	</li>
	<li>
		<a href="/gallery"><img alt="g6" class="img-responsive" src="http://assets.webnish.com/IMG/224/35224/g6-250x161.jpg" /></a>
	</li>
	<li>
		<a href="/gallery"><img alt="g1" class="img-responsive" src="http://assets.webnish.com/IMG/225/35225/g1-250x161.jpg" /></a>
	</li>
</ul><!--slides-->

			</div><!--gallery-slide-->
		</div><!--gallery-content-->
	</div><!--gallery-->
</div><!--col-md-12-->



</div>
				<div class="container no-padding">
					<div class="col-md-12 no-padding">
						<div class="container-common-block">
							<div class="col-xs-12 col-sm-8 col-md-9 no-padding">
								<div class="container-left">
									<div id="container_64710">




</div>
									<div id="container_64711">
<div class="col-xs-12 col-sm-6 col-md-8 no-padding without_image no-margin-left">
	<div class="welcome-content">
		<div class="welcome-text">
			<div class="over_lay" style="display: none;"></div>
<!--small business15 -->



<!--common contact_block-->

<h3><a href="/">Home</a></h3>
<p style="text-align: justify;">Located in <span class="mceNonEditable" data-src="LOCATION">Chennai</span>, since its inception <span class="mceNonEditable" data-src="NAME">Aarvam- Bro Siga Animation Center</span> has been providing service to its clients while adhering to the timelines. At <span class="mceNonEditable" data-src="NAME">Aarvam- Bro Siga Animation Center</span>, there is a constant attempt towards improved business process, while meeting the client's expectations. Any queries or doubts will be promptly attended to and clarified. Availability of such facilities and the affordability of our endeavour are the assets that bring us the desired results.</p>
<p style="text-align: justify;">Schools should give an opportunity to all children to explore various art forms present, should give them enough time to develop their physical strength, intellectual and emotional intelligence and bloom as a complete personality. They should be capable of making their own decisions, of how they want to shape their future, and be equipped with skills to live life with a passion.</p>
<div class=" read-more"><a href="../../../static/about-us">Read more...</a></div>

		</div><!--welcome-text-->
	</div><!--welcome-content-->
</div><!--col-md-6-->



</div>
								</div><!--left-common-block-->
							</div><!--col-md-8-->
							<div id="container_64712">
<div class="col-xs-12 col-sm-4 col-md-3 no-padding">
	<div class="container-right">
		<h3><a href="/static/contact-us">contact us</a></h3>
		<div class="contact-block">
			<ul class="list-unstyled">
				<li class="phn">
					<a href="/static/contact-us"><span>:</span>044 - 26731284 </a>
				</li>
				<li class="mail">
					<a href="/static/contact-us"><span>:</span>aarvam2014@gmail.com / sigaanimation@gmail.com</a>
				</li>
				<li class="location">
					<a href="/static/contact-us"><span>:</span>No. A-248, B-Kalyanapuram, S. M. Nagar Main Road, Vyasarpadi, Chennai, Tamil Nadu-600039, India.</a>
				</li>
			</ul>
		</div><!--contact-block-->
	</div><!--right-common-block-->
</div><!--col-md-4-->




</div>
						</div><!--col-md-12-->
					</div>
				</div>
			</div><!--row-->
		</div><!--container-->
	</div><!--container-content-->
	<div class="container">
		<div class="row">
			<div class="footer-content">
				<div class="col-md-12">
					<div class="col-md-7 col-sm-7 col-xs-12 without_image">
						<div class="social-link">
							<ul class="list-inline">
								<li>
									<a href="/enquiry"><img alt="aarvam-Enquiry" src="http://assets.webnish.com/small_business_101/3/assets/writetousicon-133a8788d58c69a917077842677075a8.png" /></a>
								</li>
							</ul>
						</div><!--social-link-->
					</div>
				</div>
			</div><!--footer-content-->
		</div><!--row-->
	</div><!--container-->
</div><!--container-block-->

			<div class="footer-bottom">
				<div class="container no-padding">
	<div class="row no-margin">
		<div class="col-md-12">
			<div class="footer-bot">
				<div id="container_64715">
<div class="col-md-6 col-sm-6 col-xs-12 no-padding copyright_block">
	<ul class="col-md-12 col-xs-12 col-sm-12 list-inline no-padding">
		<li>
			<a href="/static/terms-conditions">Terms and Conditions</a>
		</li>
		<li>
			<a href="/static/privacy-policy">Privacy Policy</a>
		</li>
	</ul>
</div><!--copyright_block-->


<div class="webnish_footer col-md-6 col-sm-6 col-xs-12 text-right">
	<div class="footer-con text-right">
		<span>Powered by:</span>
		<a href="http://www.webnish.com/" target="_blank"><img alt="no-image" src="http://assets.webnish.com/small_business_101/3/assets/footer-logo-3553a8a9628a37a29f712a6ae14dd2d7.jpg" /></a>
	</div><!--footer-con-->
</div><!--webnish_footer-->


</div>
			</div>
		</div><!--col-md-12-->
	</div><!--row-->
</div><!--container-->
			</div><!--footer-bottom-->
		</div><!--wrapper-->
		<script type="text/javascript">	/* Script to capture users screen size */

	$(function(){
	setTimeout(function(){
	$('.static_test').hide();
	},2000);
	});

jQuery("#digital_asset_document_path ").blur(function() {
    var size = jQuery('#digital_asset_document_path')[0].files[0].size;
    //alert(jQuery('#digital_asset_document_path').attr("value"));
    if (jQuery('#digital_asset_document_path').val().match(/xls|xlt|pdf|docx|pptx|xlsx|odt|doc|ppt/)) {
        if( size > 5242880){
            jQuery('#digital_asset_document_path').val("");
            alert('File Size is too large You can only less than 5 MB documents.');

        }
        else{
            jQuery('form#asset').submit();
        }

    } else {
        jQuery('#digital_asset_document_path').val("");
        alert('You can only upload Word, Excel, PowerPoint and PDF documents.');
    }
});

</script>



<script>
$('.mobile-contact').each(function() {
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    var anchor = $(this).find('a')
    $(this).find('a').attr('href',"tel:" + anchor.html())
}
else
{
    $(this).find('a').attr('href',"static/contact-us")
}
});
</script>
<script>
</script>
<script type="text/javascript">
	$('html').addClass('banload');

	$(window).on('load', function() {
		$('div.hide-i').css('display', 'block');
	}); 
</script>
<script type="text/javascript">
	$(function() {
		if ($(".contact-details li").length < 1) {
			$(".contact-details").find("span").remove();
		}
	}); 
</script>

<!--<script type="text/javascript">
$(document).ready(function(){
$('#wrapper').click(function(event) {
        $('ul.blue ul').css('visibility', 'hidden');
    });
});
</script>-->


<script src="http://assets.webnish.com/core/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://assets.webnish.com/core/js/jquery.flexslider.js" type="text/javascript"></script>
<script src="http://assets.webnish.com/core/js/wow.min.js" type="text/javascript"></script>
<script src="http://assets.webnish.com/core/js/ios-bug.js" type="text/javascript"></script>
<script src="http://assets.webnish.com/core/js/jquery.mousewheel.js" type="text/javascript"></script>
<script src="http://assets.webnish.com/core/js/jquery.jscrollpane.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('.contact-block').jScrollPane({
			verticalDragMinHeight : 40,
			verticalDragMaxHeight : 40,
			horizontalDragMinWidth : 10,
			horizontalDragMaxWidth : 10
		});
	});
	$(function() {
		$('.product-right').each(function() {
			$(this).jScrollPane({
				verticalDragMinHeight : 40,
				verticalDragMaxHeight : 40,
				horizontalDragMinWidth : 10,
				horizontalDragMaxWidth : 10,
				showArrows : $(this).is('.arrow')
			});
			var api = $(this).data('jsp');
			var throttleTimeout;
			$(window).bind('resize', function() {
				if (!throttleTimeout) {
					throttleTimeout = setTimeout(function() {
						api.reinitialise();
						throttleTimeout = null;
					}, 10);
				}
			});
		})
	}); 
</script>
<script>
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slid",
			animationSpeed : 2000,
			directionNav : true,
			easing : "swing",
			touch : true,
			controlNav : false,
			pauseOnHover : false

		});
		$('.service-block').flexslider({
			animation : "slide",
			animationSpeed : 2000,
			directionNav : false,
			slideshow : false,
			controlNav : true,
			easing : "swing",
			touch : true,
			pauseOnHover : false

		});
		$('.event-block').flexslider({
			animation : "slide",
			animationSpeed : 2000,
			directionNav : false,
			slideshow : false,
			controlNav : true,
			easing : "swing",
			touch : true,
			pauseOnHover : false

		});
		$('.scroll-block').flexslider({
			animation : "slid",
			animationSpeed : 2000,
			directionNav : false,
			direction:"vertical",
			easing : "swing",
			touch : true,
			controlNav : false,
			pauseOnHover : false

		});
	}); 
</script>
<script type="text/javascript">
	$(window).load( function() {
		var $window = $(window),
		    flexslider;

		function getGridSize() {
			return (window.innerWidth < 600) ? 1 : (window.innerWidth < 768) ? 2 : 3;
		}


		$(window).load(function() {
			$('.gallery-slide').flexslider({
				animation : "slide",
				animationSpeed : 2000,
				animationLoop : true,
				directionNav : true,
				slideshow : true,
				controlNav : false,
				minItems : 1,
				maxItems : 3,
				itemWidth : 300,
				touch : true,
				mousewheel : true,
				direction : "horizontal",

				pauseOnHover : true,
				minItems : getGridSize(),
				maxItems : getGridSize()
			});
		});

		$window.orientationchange(function() {
			var gridSize = getGridSize();
			var flowDir = getSliderDirection();
			flexslider.vars.direction = flowDir;
			flexslider.vars.minItems = gridSize;
			flexslider.vars.maxItems = gridSize;
		});
	}()); 
</script>
<script type="text/javascript">
	$(document).ready(function() {
		//window.addEventListener('DOMContentLoaded', function myEvent() {
		// function myEvent()
		// {
		ulNodes = document.getElementById("sub");
		liNodes = [];

		for (var i = 0; i < ulNodes.childNodes.length; i++) {
			if (ulNodes.childNodes[i].nodeName == "LI") {
				mpData = ulNodes.childNodes[i].getAttribute('class');
				ulNodes.childNodes[i].setAttribute('class', 'n-menu' + "  " + mpData);
				// add class="n-menu" + EXISTING class only for parent <li> ;  i.e., those without sub-menu

				liNodes.push(ulNodes.childNodes[i]);
			}
		}

		var inp = document.getElementById("sub");
		tot_Li = inp.getElementsByClassName("n-menu").length;
		//no. of parent <li>
		//document.getElementById("out1").innerHTML = tot_Li;
        var n;
		wWidth = window.innerWidth;
		if ((wWidth > 767) && (wWidth < 800)) {
			n = 5;
			//manual limit for no. of <li>
		}

		if ((wWidth > 800) && (wWidth < 1024)) {
			n = 6;
			//manual limit for no. of <li>
		}

		if (wWidth > 1025) {
			n = 7;
			//manual limit for no. of <li>
		}

		if (tot_Li > n) {
			myMore();
		}

		//more-function
		function myMore() {
			myUl = document.getElementById("sub");
			myLi = document.createElement("LI");
			//new <li>
			myUl.appendChild(myLi);
			//append <li>
			myLi.setAttribute('id', 'more');
			// add "id" - <li>

			subMore = document.getElementById("more");
			subAl = document.createElement("A");
			//new <a>
			subAl.setAttribute('href', '#nogo');
			subAl.innerHTML = "MORE";
			subMore.appendChild(subAl);

			subUl = document.createElement("UL");
			//new <ul>
			subMore.appendChild(subUl);

			subUl.setAttribute('id', 'moreUl');
			//add "id" - ul

			/*start*/
			var mrUl = document.getElementById("moreUl");
			var old_Li = document.getElementsByClassName("n-menu");
			v = old_Li.length;
			//8
			nw_Li = [];

			for (var i = v; i > n; i--)//i=8    i>6
			{

				v = v - 1;
				//v=7;

				mrUl.appendChild(old_Li[v]);
				//append the extra <li> into more-menu <ul>
				// old_Li[v].removeAttribute('class');
				//document.getElementById("out3").innerHTML = v;
			}
		}

		//}
	}); 
</script>

		
		
<script type="text/javascript">
    var map;
      $(document).ready(function(){
      map = new GMaps({
        el: '#map_right',
        lat: 13.11418,
        lng: 80.26369
      });              
      map.setCenter(13.11418, 80.26369);
      map.addMarker({
                lat: 13.11418,
                lng: 80.26369
             });
     
     });
  </script>


	</body>
</html>
