/*Colors*/
$p-color:#4a4a4a;
$h3-color:#fff;
$h3-bg:#b41e0d;
$logo-color:#000;
/*header*/
$head-left:#fff;
$head-right:#b41e0d;
/*menu*/
$menu-a:#fff;
$menu-a-h:#fff;
$menu-bg:#b41e0d;
/*device-menu*/
$d-menu-bg:#b41e0d;
$d-menu-a-br:#fff;
$d-menu-a:#fff;
$d-menu-a-h:#000;
/*sub-menu*/
$sub-menu-bg:#b41e0d;
$sub-menu-a:#fff;
$sub-menu-a-h:#000;
/*welcome-block*/
$welcome-bg:#fff;
/*read-more*/
$read-a:#fff;
$read-a-bg:#279A99;
/*static-block*/
$static-read-a:#fff;
/*gallery*/
$gallery-bg: #fff;
$gallery-br:#b41e0d;
/*book_online*/
$book-a:#006c6b;
$book-bg:#fff;
/*Contact-block*/
$contact-bg:#b41e0d;
$contact-p:#fff;
$contact-a:#fff;
$address-br:#790f02;
/*Enquiry-block*/
$enquiry-p:#fff;
$enquiry-bg:#fff;
$enquiry-color:#8A8A8A;
$enquiry-btn-bg:#fff;
$enquiry-btn:#b41e0d;
/*footer*/
$footer-bg:#000;
$footer-a:#fff;
/*static css*/
$test-bg:#fff;

/*images*/
$body-bg-img:url(asset_path("templeate_bgimage.jpg"));
/*header*/
$head-left-img:url(asset_path("shape.png"));
$head-right-img:url(asset_path("shape1.png"));
$head-right1-img:url(asset_path("shape2.png"));
$head-middle-img:url(asset_path("triangle.png"));
/*menu*/
$menu-bg-img:url(asset_path("menubgdesign.png"));
$menu-a-h-bg-img:url(asset_path("menuhoverline.png"));
$menu-line:url(asset_path("menudividerline.png"));
/*welcome-block*/
$head-design-img:url(asset_path("headingdesign.png"));
/*static-block*/
$static-prev:url(asset_path("arrow1.jpg"));
$static-next:url(asset_path("arrow2.jpg"));
$static-img:url(asset_path("infodesign1.png"));
$static-h3-img:url(asset_path("infodesign2.png"));
/*gallery*/
$gallery-prev:url(asset_path("galleryleftarrow.png"));
$gallery-next:url(asset_path("galleryrighttarrow.png"));
/*footer*/
$footer-pipe:url(asset_path("galleryrighttarrow.png"));
/*device-menu*/
$d-menu-hme:url(asset_path("home_white3.png"));
$d-menu-opn:url(asset_path("menu_white3.png"));
$menu-open:url(asset_path("expand_white3.png"));
$menu-close:url(asset_path("collapse_white3.png"));